@font-face {
  font-family: 'spotify_mix_bold';
  src: url('fonts/spotify-mix/spotifymix-bold-webfont.woff2') format('woff2'),
       url('fonts/spotify-mix/spotifymix-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'spotify_mix_extrabold';
  src: url('fonts/spotify-mix/spotifymix-extrabold-webfont.woff2') format('woff2'),
       url('fonts/spotify-mix/spotifymix-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'spotify_mix_light';
  src: url('fonts/spotify-mix/spotifymix-light-webfont.woff2') format('woff2'),
       url('fonts/spotify-mix/spotifymix-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Normalize and Reset CSS Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* Normalize and Reset CSS End */

:root {
  --primary-color: #121212;
  --secondary-color: #1f1d1d;
  --tertiary-color: #2b2a2a;
  --accent-color: #1e90ff;
  --text-color: #eaeaea;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

h1 {
  font-family: "spotify_mix_bold";
}